@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --gradient: linear-gradient(
        #405DE6 0.01%,
        #833AB4 21.88%,
        #C13584 47.92%,
        #E1306C 67.71%,
        #FD1D1D 84.38%
    );
    --bg: white;
}
body {
    font-family: 'EB Garamond', serif;
    max-width: 414px;
    max-height: 100%;
    background-color: var(--bg);
}



/*  upeer menu  */
.header {

}
.upper_menu {
    position: fixed;
    height: auto;
    column-count: 3;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    z-index: 11;
    background-color: #fff;
}
.logo {
    padding: 6px 0px 0px 10px;
}
.logo img {
    max-width: 150px;
    max-height: auto;
}
.new_post {
    padding: 10px 0px 0px 179px;
    
}
.new_post img {
    max-width: 30px;
}
.message {
    padding: 10px 0px 0px 79px;
}
.message img {
    max-width: 30px;
    }
/*  upeer menu  */



/*  stori */
.stori {
    width: auto;
    height: auto;
    border-bottom: 2px solid #e6e6e6;
}
.stories {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
.stories::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}
.avatar {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 3px;
    width: 50px;
    height: 50px;
    background: var(--gradient);
}
/*  stori */



/*  bottom menu */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 0 10 0;
    width: 100%;
    height: auto;
    border-top: 1px solid #e6e6e6;
    z-index: 10;
    background-color: #fff;
}
.profile img {
    border-radius: 50%;
}
.fal {
    width: 35px;
    height: auto;
    
}
.fl {
    display: flex;
    margin-top: 5px;
}

.fl-jc-c {
    justify-content: center;
}
.fl-jc-sa {
    justify-content: space-around;
}
.tab {
    flex-grow: 1;
    height: 100%;
}
/*  bottom menu */

/*  scroll */
.scrollToTop{
    opacity:0;
    width:40px;
    height:40px;
    position:fixed;
    bottom:50px;
    right:10px;
    z-index:500;
    transition: all .5s ease-in-out;
    text-align:center;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:4px;
    background:#555;
} 
.scrollToTop span{
    margin-top:12px;
    color:#FFF;
}
.showScrollTop{
    font-size:14px;
    opacity:0.5;
    margin-bottom: 50px;
}
.scrollToTop:hover{
    background-color:#46A6BF;
    border-radius:100%;
}
.scrollToTop:active{
    background-color:#46A6BF;
}
/*  scroll */